{% extends "base.html" %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {% for message in messages  %}
        {% if messages %}
            <ul>
                <li>{{message}}</li>
            </ul>
        {% endif %}
    {% endfor %}
    <label for="username">Username: </label>
    <input type="text" name="username" placeholder='Enter username...'>
    <label for="password">Pasword: </label>
    <input type="password" name="password" placeholder='Enter pasword...'>
    <input type="submit" value="Login">
    <a href="{% url 'register' %}">Don't have an account?</a>
</form>
{% endblock content %}